*.mtx
*.cpp
*.m
*.m~
*.m.*
*.mat
*.py
*.eps
*.pdf
*.tif
*.jpg
*.png
*.svg
*.lmf
*.frv
*.su
*.SU
*.txt
*.log
*.sh
*.dat
*.out
*.ref
*fort*
*.f
*.mtx*
*.lmf*
*.frv*
*.log*
*.txt*
data/
image/
test/
build/
mpi*
