*.mtx
*.cpp
*.m
*.m~
*.m.*
*.py
*.mat
*.eps
*.pdf
*.tif
*.jpg
*.png
*.svg
*.lmf
*.frv
*.su
*.txt
*.log
*.sh
*.dat
*.out
*fort*
*.f
data/
image/
test/
build/
mpi*
dispersion/
free_surface/
genetic_algorithm/
mat_disperse/
